name: ForceStage2
on:
  # Allows to be run manually from the Actions tab
  workflow_dispatch:
    inputs:
      Type:
        description: "Track type"
        default: hike
        required: true
        type: choice
        options:
          - bike
          - hike
          - ski
          - skiclimb
          - commute
      Reason: 
        description: "Reason for triggering workflow"
        default: "need to know"
        required: true
        type: string

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

run-name: Generate GeoJSONs for ${{ inputs.reason }}

jobs:
  # Build GeoJSON files from any newly committed GPX files
  GeoJsonBuild:
    name: Generate_Stage_2
    runs-on: macos-latest
    steps:
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      #--- Checkout using PAT rather than default token, so PagesDeploy/push workflow gets triggered
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_ACTION_PERSONAL_ACCESS_TOKEN }}
      #--- First Step
      - name: Generate GeoJson files from all GPX files
        run: |
          echo ">>> Generate GeoJSON files for all GPX files"
          python scripts/gpx_to_geojson.py -s -u tracks/tim/3_gpx/${{ inputs.type }} \;
          #find tracks/tim/3_gpx -mindepth 1 -maxdepth 1 -type d -exec python scripts/gpx_to_geojson.py -s -u {} \;
      #--- Second Step
      - name: Aggregate GeoJson files
        run: |
          echo ">>> Aggregate GeoJSON files"
          find tracks/tim/2_geojson -mindepth 1 -maxdepth 1 -type d -exec python scripts/geojsons_merge.py -o tracks/tim/1_display {} \;
          rsync -avu "tracks/tim/1_display/" "www/tracks/tim/1_display/" 
        #--- Last Step
      - name: Commit new GeoJson files
        id: committed
        run: |
          echo ">>> Commit GeoJSON files"
          git add tracks/tim/1_display 1>&2
          git add www/tracks 1>&2
          git status -s 1>&2
          git commit -m "Force GeoJSONs for øø ${{ inputs.reason }}" 1>&2
          git push 1>&2
