.myBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.btn {
  margin: 6px;
  border: 2px solid green;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
  background-color: white;
  border-color: #4CAF50;
  color: #4CAF50;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 72px;
  text-align: center;
}
/* Add a dark background color to the active button */
.btn.active {
  background-color: #4CAF50;
  color: white;
}
/* Different color for the todo button and its active state */
.btn.todo {
  border-color: #ff6600;
  color: #ff6600;
}
.btn.todo.active {
  background-color: #ff6600;
  color: white;
}
/* Different color for the page change buttons and active states */
.btn.page {
  border-color: #cc0000;
  color: #cc0000;
}
.btn.page.active {
  background-color: #cc0000;
  color: white;
}
/* Other states */
.btn.climbed {
  background-color: #dcefdc;
}
/* Table styling */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2196F3;
  color: white;
}
th.clickable:hover {
  background-color: white;
  color: #2196F3;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
tr.climbed {
  background-color: #dcefdc;
}
tr.climbed.nearly {
  background-color: #ffcc99;
}
col.todocol {
  background-color: #ffffcc;
}
/* france */
.fr {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600"> <path fill="%23ed2939" d="m0,0h900v600h-900z"/> <path fill="%23fff" d="m0,0h600v600h-600z"/> <path fill="%23002395" d="m0,0h300v600h-300z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.frit {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3500" height="1000" viewBox="0 0 7 2"> <path fill="%23ed2939" d="m0,0h1v2h-1z"/> <path fill="%23fff" d="m1,0h1v2h-1z"/> <path fill="%23002395" d="m2,0h1v2h-1z"/> <path fill="%23009246" d="m4,0h1v2h-1z"/> <path fill="%23fff" d="m5,0h1v2h-1z"/> <path fill="%23ce2b37" d="m6,0h1v2h-1z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* italy */
.it {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1500" height="1000" viewBox="0 0 3 2"> <path fill="%23009246" d="m0,0h1v2h-1z"/> <path fill="%23fff" d="m1,0h1v2h-1z"/> <path fill="%23ce2b37" d="m2,0h1v2h-1z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* switzerland */
.ch {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320"> <path fill="%23d52b1e" d="m0,0h320v320h-320z"/> <g fill="%23fff"> <path d="m60,130h200v60h-200z"/> <path d="m130,60h60v200h-60z"/> </g> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.chit {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 320"> <path fill="%23d52b1e" d="m0,0h320v320h-320z"/> <g fill="%23fff"> <path d="m60,130h200v60h-200z"/> <path d="m130,60h60v200h-60z"/> </g> <path fill="%23009246" d="m480,0h160v320h-160z"/> <path fill="%23fff" d="m640,0h160v320h-160z"/> <path fill="%23ce2b37" d="m800,0h160v320h-160z"/></svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* bolivia */
.bo {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600"> <path fill="%23DA291C" d="m0,0h900v200h-900z"/> <path fill="%23F4E400" d="m0,200h900v200h-900z"/> <path fill="%23007A33" d="m0,400h900v200h-900z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Mongolia */
.mn {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600"> <path fill="%23da2032" d="m0,0h900v600h-900z"/> <path fill="%230066b3" d="m300,0h300v600h-300z"/> <path fill="%23ffd900" d="m70,300h160v230h-160z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Argentina */
.ar {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600"> <path fill="%2374ACDF" d="m0,0h900v200h-900z"/> <path fill="%23FFFFFF" d="m0,200h900v200h-900z"/> <path fill="%2374ACDF" d="m0,400h900v200h-900z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Australia */
.au {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600"> <path fill="%2300008B" d="m0,0h900v600h-900z"/> <path fill="%23FF0000" d="m0,0h450v300h-450z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Nepal */
.np {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600"> <path stroke="%23003893" stroke-width="18" fill="%23DC143C" d="M9 591h454l-299-299h291L9 18z"/> <path fill="%23FFFFFF" d="M40 440a85,85 0 1,0 170,0a85,85 0 1,0 -170,0"/> <path fill="%23FFFFFF" d="M40 185a85,85 0 1,0 170,0a95,95 0 0,1 -170,0z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Tanzania */
.tz {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600"> <path fill="%231eb53a" d="m0,0h900l-900,600z"/> <path fill="%2300a3dd" d="m900,0v600h-900z"/> <path fill="%23fcd116" d="m688,0h212v142l-688,458h-212v-142z"/> <path fill="%23000" d="m756,0h144v96l-756,504h-144v-96z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* United States */
.us {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600"> <path fill="%23B22234" d="m0,0h900v600h-900z"/> <path fill="%233C3B6E" d="m0,0h360v300h-360z"/> </svg>');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
