html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  /* font-family: "Helvetica Neue", "Helvetica"; */
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Simple flex column wrapper to contain main and footer */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  text-align: center;
}

/* Defaults all set for mobile screen format */
.footer {
  display: flex;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  background: #6fa9d0;
  color: #fff;
  text-align: left;
}
.footer .footitem {
  flex: 0 0 33%;
}
.footer a:link {
  color: white;
}
.footer a:visited {
  color: white;
}
.peak {
  font-size: 16px;
  font-weight: lighter;
}
.main {
  padding: 6px;
  flex: 1;
}
.main .band {
  font-size: 2.0736em;
  background-color: #BFD4EF;
  color: #fff;
}
#map {
  height: 100%;
  width: 100%;
}

/* Alternatives: Large format if large screen detected */
/* (Should use switches in original clauses but doesn't seem to work) */
@media only screen and (min-width: 768px) {
  .header {
    padding: 12px 12px 6px;
    font-size: 24px;
  }
  .footer {
    padding: 6px;
    font-size: 24px;
  }
  .main {
    padding: 3px;
  }
}

.mapboxgl-popup {
  max-width: 300px;
}

.collapsible {
  background-color: transparent;
  color: #0000FF;
  cursor: pointer;
  padding: 2px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 36px;
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 360px;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: left;
}

.map-overlay-inner {
  /* display: none; */
  text-align: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.map-overlay-inner fieldset {
  padding: 0 0 10px;
  margin: 0 0 10px;
  background-color: #E6E6FF;
  border-radius: 6px;
}

.selector {
  display: flex;
  flex-direction: row;
}

.selector_col {
  flex-basis: 50%;
  flex-direction: column;
}

.selector_row {
}

.map-overlay-inner p {
  margin: 0;
}

.map-overlay-inner label {
  font-weight: bold;
}

.map-overlay-inner button {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  border: none;
  cursor: pointer;
}

.map-overlay-inner button:focus {
  outline: none;
}

.map-overlay-inner button:hover {
  background-color: blue;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.offset > label,
.offset > input {
  display: inline;
}

#animateLabel {
  display: inline-block;
  min-width: 20px;
}

/* For Chrome, Safari, Opera, and Edge  */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffe6;
}
/* For Firefox */
input[type="range"]::-moz-range-track {
  background-color: #ffffe6;
}
